/* --------- */
/* Variables */
/* --------- */
:root {
	--fg: #ebdbb2;
	--fg2: #fe8019;
	--bg: #282828;
	--bg2: #3c3836;
	--bg3: #504945;
}

/* --------------- */
/* General Styling */
/* --------------- */
body {
	scroll-behavior: smooth;
	background: var(--bg);
	color: var(--fg);
	font-size: 125%;
	font-family: "JetBrains Mono", monospace;
	width: 80%;
	margin: 2em auto;
	display: flex;
}

img {
	display: block;
	margin: auto;
}
img#rice {
	width: 60%;
	border: .5em double var(--bg3);
	border-radius: .5em;
}
img#pfp { width: 10em; }

a {
	color: var(--fg2);
	font-weight: bold;
	text-decoration: underline .1em #00000000;
	transition: text-decoration 500ms;
}
a:hover { text-decoration: underline .1em var(--fg2); }

.fa::before {
	font-size: 1.5em;
	margin-right: .5em;
}

.table {
	display: grid;
	grid-template-columns: repeat(2, auto);
	grid-gap: .5em;
}

h2 { text-align: center; }

i { text-align: right; }

code {
	background: var(--bg);
	padding: .5em;
	display: block;
	border-radius: .5em;
}


/* ----------------- */
/* Sections & Labels */
/* ----------------- */
section > label {
	color: var(--fg2);
	font-size: 1.5em;
	font-weight: bold;
	margin-left: 2em;
	cursor: pointer;
	text-decoration: underline .1em #00000000;
	transition: text-decoration-color 500ms;
}
section > [type="radio"]:checked ~ label, section > label:hover {
	text-decoration: underline .1em var(--fg2);
}

section:nth-of-type(1) > label { margin-left: 0px; }
div.space { flex: auto; }

section { float: left; }

section > [type="radio"] { display: none; }
[type="radio"] ~ div {
	opacity: 0;
	font-size: 0;
	z-index: -1;
	transition: opacity 500ms;
}
[type="radio"]:checked ~ div {
	opacity: 1;
	font-size: 1em;
	z-index: 0;
}


/* Section Content */
section > div {
	position: absolute;
	left: 0;
	align-items: flex-start;
    display: flex;
    flex-direction: row;
    justify-content: center;
	flex-wrap: wrap;
	width: 90%;
	margin: 2em 5%;
}
section > div > div {
	position: relative;
	background: var(--bg2);
	border-radius: .5em;
	padding: 2em;
	margin: 1em;
	transition: transform 500ms;
	box-shadow: 0 .5em 1em -.25em #00000030;
}
.cards > div { flex: 1 0 17.5em; }
#social { flex: 0; }

section > div > div:hover { transform: translateY(-.25em); }

section > div div::after {
	content: '';
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	opacity: 0;
	transition: opacity 500ms;
	box-shadow: 0 1em 1em -.25em #00000030;
	z-index: -1;
}
section > div  div:hover::after { opacity: 1; }
