/* "Main" styles */
:root {
	--fg: #ebdbb2;
	--fg2: #fe8019;
	--bg: #282828;
	--bg2: #3c3836;
	--bg3: #504945;
}

body {
	background: var(--bg);
	color: var(--fg);
	font-size: 1.75vh;
	-ms-overflow-style: none;  /* IE and Edge */
	scrollbar-width: none;
	width: 80%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

body::-webkit-scrollbar { display: none; }

* {
	background: inherit;
	color: inherit;
	font-family: "JetBrains Mono", monospace;
}

h1 {
	color: var(--fg2);
	text-align: center;
}

#profile {
	width: 9rem;
	display: block;
	margin-left: auto;
	margin-right: auto;
	border: none;
}

img {
	width: 50%;
	width: 50rem;
	display: block;
	margin-left: auto;
	margin-right: auto;
	border: 0.35rem solid var(--bg3);
}

a {
	color: var(--fg2);
	font-weight: bold;
	text-decoration: underline 0.25rem #00000000;
	transition: text-decoration-color 500ms;
}

a:hover { text-decoration-color: inherit; }

code {
	background: #00000030;
	padding: 0.5rem;
	border: 0.35rem solid var(--bg3);
	border-radius: 0.5rem;
}



/* Curtain Animations and Styling */
.curtain {
	background: var(--bg2);
	padding: 2rem;
	border-radius: 0.5rem;
	margin-top: 5rem;
	overflow: hidden;
}

.curtain > * {
	background: none;
	margin-top: none;
}

.curtain > input[type="checkbox"] { display: none; }
.curtain > label {
	text-decoration: overline 0.15em #00000000;
	transition: text-decoration-color 500ms;
	/* Disable text selection/highlighting */
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
	color: var(--fg2);
	font-weight: bold;
	text-align: center;
	cursor: pointer;
	display: block;
	margin-left: auto;
	margin-right: auto;
	font-size: 1.75rem;
}

.curtain > input[type="checkbox"]:checked ~ label,
.curtain > label:hover { text-decoration-color: inherit; }

.curtain > input[type="checkbox"] ~ div {
	height: 0px;
	font-size: 0px;
	margin: 0px;
	padding: 0px;
	opacity: 0;
	transition:
		opacity 250ms,
		font-size 500ms 250ms,
		margin 500ms 250ms,
		padding 500ms 250ms;
}

.curtain > input[type="checkbox"]:checked ~ div {
	height: auto;
	opacity: 1;
	color: inherit;
	font-size: inherit;
	margin: inherit;
	padding: inherit;
	transition:
		font-size 500ms,
		margin 500ms,
		padding 500ms,
		opacity 250ms 500ms;
}
